<form>
    <div class="form-group">
        <input #emailControl="ngModel" appEmailvalidator [appHover] = "'yellow'" type="email" class="form-control" name="name" [(ngModel)]="email" placeholder="Enter your email as username">
        <div> {{ emailControl.errors | json }} </div>
    </div>
    
    <div>
        <input [appHover] = "'steelblue'" type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Enter your password">
    </div>
    <div>
        <button class="btn btn-primary" (click)="login()">Login</button>
    </div>
</form>