<h2> {{ title }} </h2>

<!-- {{ roomList }} -->  <!-- this prints just [object Object],[object Object],[object Object], which is not very useful, enter *ngFor -->

<!-- let's use table for now, otherwise we typically use an UI library (Angular Material) -->
<!-- angular material can handle this more nicely, but we need to practice ngfor -->
<table>
    <tr>
        <th>Index</th>
        <th>Even/Odd</th>
        <th>Room Number</th>
        <th>Room Type</th>
        <th>Room price</th>
        <th>Amenities</th>
        <th>Checkin time</th>
        <!-- <td>Raw</td> -->
        <th>Select room</th>
    </tr>
    <tr [ngClass]="e ? 'even' : 'odd'" *ngFor="let room of rooms; let e=even; let o=odd; let i=index">
        <td>{{ i | percent }}</td> <!-- | number:'4.1-5' -->
        <td>{{ e ? "Even" : "Odd" }}</td>
        <td>{{ room.roomNumber }}</td>
        <td>{{ room.roomType | uppercase}}</td>
        <td>{{ room.price | currency: 'CZK' }}</td>
        <td>{{ room.amenities | json }}</td>
        <td>{{ room.checkinTime | date: 'MMM d, y, h:mm:ss a' }}</td> <!-- DatePipe example -->
        <!-- <td>{{ room | json }}</td> -->
        <!-- <td>
            <button class="btn btn-primary" (click)="selectRoom(room)">
                Select
            </button>
        </td> -->
        <button class="btn btn-primary" [routerLink]="['/booking', room.roomNumber]">Book Room</button>
    </tr>
</table>
