<h1>Welcome to Booking!</h1>
<p>{{ bookingForm.value | json }}</p>
<p>{{ bookingForm.pristine | json }}</p>
<p>{{ bookingForm.dirty | json }}</p>

<form class="example-form" [formGroup]="bookingForm">
    <mat-form-field class="example-full-width">
        <input 
            type="text" 
            matInput 
            formControlName="roomId"
            placeholder="Room Id"
        >
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input 
            type="email" 
            matInput 
            formControlName="guestEmail"
            placeholder="my.email@email.com"
        >
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Check-in Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="checkinDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input 
            type="datetime" 
            matInput 
            formControlName="checkoutDate"
            placeholder="Check-out Date"
        >
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input 
            type="text" 
            matInput 
            formControlName="bookingStatus"
            placeholder="Booking status"
        >
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input 
            type="number" 
            matInput 
            formControlName="bookingStatus"
            placeholder="Booking status"
        >
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input 
            type="number" 
            matInput 
            formControlName="bookingAmount"
            placeholder="Booking amount"
        >
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input 
            type="datetime" 
            matInput 
            formControlName="bookingDate"
            placeholder="Booking date"
        >
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input 
            type="tel" 
            matInput 
            formControlName="mobileNumber"
            placeholder="Mobile number"
        >
    </mat-form-field>
    <!-- this can be a separate form -->
    <!-- <mat-form-field class="example-full-width">
        <input 
            type="text" 
            matInput 
            formControlName="guestName"
            placeholder="Guest name"
        >
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input 
            type="text" 
            matInput 
            formControlName="guestAddress"
            placeholder="Guest address"
        >
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input 
            type="text" 
            matInput 
            formControlName="guestCity"
            placeholder="Guest city"
        >
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input 
            type="text" 
            matInput 
            formControlName="guestState"
            placeholder="Guest state"
        >
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input 
            type="text" 
            matInput 
            formControlName="guestCountry"
            placeholder="Guest country"
        >
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input 
            type="text" 
            matInput 
            formControlName="guestZipCode"
            placeholder="Guest ZIP code"
        >
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input 
            type="number" 
            matInput 
            formControlName="guestCount"
            placeholder="Guest count"
        >
    </mat-form-field> -->
</form>
