<h1>Welcome to Booking!</h1>
<p>{{ bookingForm.value | json }}</p>
<p>{{ bookingForm.pristine | json }}</p>
<p>{{ bookingForm.dirty | json }}</p>

<form class="example-form" [formGroup]="bookingForm">
    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input 
            type="email" 
            matInput 
            formControlName="roomId"
            placeholder="Ex. pat@example.com"
        >
        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error> -->
      </mat-form-field>
</form>
