hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: double;
    border-width: 1px;
  }

.even {
  background-color: steelblue;
  color: whitesmoke;
}

.odd {
  background-color: teal;
  color: yellow;
}
