<!-- this is an angular template -->

<!-- interpolation of an attribute -->
<h1>Welcome to {{hotelName}}!</h1>

<div>-- header header header --</div>

<app-header></app-header>
<app-header></app-header>
<app-header></app-header>

<div>-- header header header --</div>

<p>Displaying a class attribute via interpolation: {{ boo.hoo }}</p> <!-- interpolation of a class member -->

<div [hidden]="hideRooms">
    Number of rooms:
    <div [innerText]="numberOfRooms"></div> <!-- (HTML) property binding (this is called box syntax) -->
</div>
<button (click)="toggle()">Toggle!</button> <!-- event binding (this is called "banana syntax") -->

<!-- using "element hiding" is not optimal:
    1. the data is still available on the DOM, only hidden,
    2. if we have too many elements on the DOM, we'll have performance problems (even if hidden) -->

<!-- solution - I will not display it, unless is needed -->
<hr>

<!-- optional chaining & nullish coalescing - we can use both in templates -->
<!-- optional chaining = evaluation will stop immediately when the expression evaluates to null/undefined - and it will return undefined -->
<!-- {{ nullRooms?.availableRooms ?? 'No rooms available' }} -->

<hr>

<!-- <div *ngIf="rooms && rooms.availableRooms && rooms.availableRooms > 0"> <!-- example of *ngIf --> <!-- let's do some inspection -->

<div *ngIf="selectedRoom != undefined">
    {{ selectedRoom | json }}
</div>

<div>
    <button (click)="addRoom()">Add Room</button>
</div>

<div>
    <button (click)="toggleRoomList()">Toggle Rooms</button>
</div>

<button (click)="editRoom()">Edit Room</button>

<button (click)="getPhotos()">Get Photos</button>

<h1> {{ totalBytes }} loaded </h1>

<!-- *ngIf="!hideRoomList && (rooms?.availableRooms ?? 0) > 0" -->

<h3>Errors: {{ getErrors$ | async }}</h3>
<h3>Room count: {{ getRoomCount$ | async }} </h3>

<!-- example of [ngStyle] and *ngIf -->
<div [ngStyle]="{ 'font-weight': 'bold', 'color' : (rooms?.availableRooms ?? 0) > 5 ? 'green' : 'red' }"
    *ngIf="!hideRoomList && (getRooms$ | async) as theRoomz">
    <app-rooms-list [rooms]="theRoomz" [title]="title" (clickedRoom)="selectRoom($event)"></app-rooms-list>
</div>

<router-outlet></router-outlet>